@import "grid";

$site-max-width: 1272;

@mixin block($height: 24) {
  display: block;
  height: #{$height}px;
}

@mixin wrapper($padding: true) {
  box-sizing: content-box;
  max-width: #{$site-max-width}px;
  margin: auto;
  padding-left: 24px;
  padding-right: 24px;
}

body {
  margin: 0;
  padding: 0;
}

*,
*:after,
*:before {
  box-sizing: border-box;
}

.block {
  background-clip: content-box;
  background-color: #0288d1;
  color: white;
}

.block--12 {
  @include block(12);
}

.block--24 {
  @include block(24);
}

.block--36 {
  @include block(36);
}

.block--48 {
  @include block(48);
}

.block--72 {
  @include block(72);
}

.button {
  background-clip: border-box;
  border-width: 0;
  display: inline-block;
  margin-left: 12px;
  min-width: 96px;
  padding: 12px;
  width: auto;
}

.wrapper {
  @include wrapper();
}

.clearfix {

  &:before,
  &:after {
    content: "";
    display: table;
  }

  &:after {
    clear: both;
  }

}

.blg-24 {
  margin-bottom: #{$baseline-measure-4}px;
}

.blg-36 {
  margin-bottom: #{$baseline-measure-6}px;
}

.blg-48 {
  margin-bottom: #{$baseline-measure-8}px;
}
